body {
    font-family:  sans-serif;
    font-size: 16px;
    margin: 2rem;
    border: 1px solid black;
}
.btn {
  font-weight: 700;
  border: 2px solid black;
  background-color: skyblue; 
  border-radius: 15px; 
  padding: 5px;
}
.btn:hover {
  font-weight: 700;
  border: 2px solid black;
  background-color: yellow;
  border-radius: 15px; 
  padding: 5px;
}
.main_page {
  display: flex;
  padding: 2rem;
  border-spacing: 1em;

}
.body_div {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
} 
 .char_display {
  display: flex;
  flex-flow: column;
  align-items: center; 
 } 
  

.container_character, #selectTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;  
}

.episode_table tr td {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
  padding: 10px;
}
.quote div{
  display: flex;
  padding: 10px;
  justify-content: center;
}
#table_logo_nav {
  flex-flow: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  border-spacing: 0;
  border: 1px solid black;
}
.table_nav {
  padding: 0;
}

#logo {
  width: 350px;
}
.navbar {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0; 
    background: rgb(40, 47, 49);
    padding: 0.5rem;
    align-items: flex-start;
    border: 0;
    

  }
.header_logo {
  background-image: url(../images/simpsons_clouds.jpg);
  background-size: 500px;
  padding: 1em;
  justify-content: space-evenly;
  width: 100%;
  border-spacing: 0;
}


#quote_image {
  height: 200px;
}
#quote_name {
font-weight: bold;
font-size: 26px;
}
  .toggle {
    display: none;
  }
.textwrap {
  float: left;
  margin: 20px;
}
  .logo {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    display: block;
    color: white;
  }

  .navbar a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    color: white;

  }
  
  .navbar a:hover {
    background: #6b7075;
    border-radius: 25px;
  }

  .active .item {
    display: flex;
}


@media all and (max-width: 800px) {
  #logo {
    width: 250px;
  }
}
  
  @media all and (max-width: 600px) {
    .navbar {
      flex-flow: column;
      align-content: flex-start;
      justify-content: left;
      justify-items: left;
      padding: 0;     
    }
    .navbar a { 
        text-decoration: none;
        display: block;
        
        color: white;
        width: 180px;
    }

    .navbar a:hover {
        background: none;
      }
    
    .navbar li:last-of-type a {
      border-bottom: none;
    }

    #logo {
      width: 150px;
    }

    .toggle {
        
        display: flex;
        width: 25px;
        justify-content: left;
        
    }

    .item {  
        width: 100%;
        display: none;
    }

    .active .item {
        display: flex;
    }

  }
  
  